<form method="post">
{% csrf_token %}
{% for field in form %}
    <p>
      {{ field.label_tag }}
      <br>{{ field }}<br>
      {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
          <small style="color: red">{{ error }}</small>
      {% endfor %}
    </p>
{% endfor %}
<button type="submit">Register</button>
</form>
