<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Small Blog App</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
        <script>
            localStorage.setItem('user_id', '{{ user.id }}');
        </script>
        <span>Hello, {{ user.username }}</span>
        <br>
        <form action={% url 'logout' %}>
            <button>Logout</button>
        </form>
        <form action={% url 'new_post' %}>
            <button>New post</button>
        </form>
        {% else %}
            <form action={% url 'login' %}>
                <button>Login</button>
            </form>
            <form action={% url 'register' %}>
                <button>Register</button>
            </form>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>