{% extends 'post_detail.html' %}

{% block comments %}
    <span>Comments:</span>
    <ul type="none">
        {% for comment in comments %}
            <li>{{ comment }}</li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}