{% extends 'base.html' %}
{% block content %}
    <div>
        <form action='{% url 'new_post' %}' method="post">
            {{ form.errors }}
            {% csrf_token %}
            <label for="post_headline">Enter post headline: </label>
            <input id="post_headline" type="text" name="headline">
            <br>
            <label for="post_text">Write your text here: </label>
            <input id="post_text" type="text" name="text">
            <br>
            <input type="submit" value="OK">
        </form>
    </div>
{% endblock %}