{% if page_obj.has_previous %}
    <button>
        <a href={% url 'feed' page_number=page_obj.previous_page_number %}>Load previous page</a>
    </button>
{% endif %}
{% if page_obj.has_next %}
    <button>
        <a href={% url 'feed' page_number=page_obj.next_page_number %}>Load next page</a>
    </button>
{% endif %}