{% block post_list %}
{% include 'next_previous_btn.html' %}
{% for post in post_list %}
    <ul type="none" style="padding: 20px 5px; ">
        <li style="border: 1px #5b80b2 double; padding: 20px 5px;">
            <article class="post" id="{{ post.id }}">
                <header><a href="{% url 'user' pk=post.author_id %}">{{ post.author.username }}</a>, {{ post.creation_datetime }}</header>
                <h2 style="color: #3875d7">
                    <a href="{% url 'post-detail' pk=post.id %}">{{ post.headline }}</a>
                </h2>
                <br>
                <a>{{ post.short_text }}</a>
                <br>
                <footer>
                    <ul type="none">
                        <li>
                            <a href={% url 'post-detail' pk=post.id %}>Comments: {{ post.count_of_comments }}</a>
                        </li>
                        {% if post.autho_id == user.id %}
                        <li>
                            <a href={% url 'delete_post' pk=post.id %}>Delete post</a>
                        </li>
                        {% endif %}
                    </ul>
                </footer>
            </article>
        </li>
    </ul>
{% endfor %}
{% include 'next_previous_btn.html' %}
{% endblock %}