{% extends 'base.html' %}
{% block content %}
    <h4>Are you sure that you want to delete post {{ post.headline }}?</h4>
    <form method="post" action={% url 'delete_post' pk=post.id %}>
        {% csrf_token %}
        <button type="submit">Yes</button>
    </form>
    <form method="get" action={% url 'user' pk=post.author.id %}>
        <button type="submit">No</button>
    </form>
{% endblock %}