{% extends 'base.html' %}
{% block content %}
    <div>
        <h4>Username: {{ user.username }}</h4>
        {% if user.is_admin %}
            <br>
            <small>user is admin</small>
        {% endif %}
        <h4>User posts:</h4>
        {% include 'posts_list.html' %}
    </div>
{% endblock %}